/* 去除窗体边框 */
body.body--win32 {
	border: 0px;
}

/* 全局透明效果 */
.fn__flex-column,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout-tab-bar,
.layout-tab-bar .item,
.block__icons,
.b3-tab-container,
.search__header,
.b3-text-field--text,
.b3-menu,
.b3-menu__item,
.b3-menu__item--show,
.b3-menu__submenu,
.dock,
.protyle-toolbar,
.inbox__details,
.layout__empty {
	background-color: transparent;
	background-image: url(../src/background.jpg);
	/*background-color: #1e1e1e;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
