:root {
	/* 主色 */
	--b3-theme-primary: #22bcf2;
	--b3-theme-primary-light: #2a74db;
	--b3-theme-primary-lighter: #1e6661;
	--b3-theme-primary-lightest: #2b2e4996;
	--b3-theme-secondary: #fff7cd;
	--b3-theme-background: #1e1e1e;
	--b3-theme-background-light: #1e1e1e;
	--b3-theme-surface: #1e1e1e;
	--b3-theme-error: #d23f31;

	/* 文字颜色 */
	--b3-theme-on-primary: #fff;
	--b3-theme-on-secondary: #fff;
	--b3-theme-on-background: #c9d1d9;
	--b3-theme-on-surface: #9aa0a6;
	--b3-theme-on-error: #fff;

	/* 字体 */
	--b3-font-family: 'LXGW WenKai Mono', 'HarmonyOS', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Win11 Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
	--b3-font-family-code: 'FiraCode', mononoki, Consolas, 'Liberation Mono', Menlo, Courier, monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
	--b3-font-family-graph: mononoki;
	--b3-font-family-math: KaTeX_Math;

	/* 线条 */
	/* --b3-border-color: #363f49; */
	/* --b3-border-color: rgba(230, 230, 230, .08); */
	--b3-border-color: #1e1e1e;

	/* 滚动条 */
	--b3-scroll-color: #b5ebff92;

	/* 列表 */
	--b3-list-hover: rgba(230, 230, 230, 0.05);

	/* 页签 */
	--b3-tab-background: #0b0c0d;
	--b3-tab-background-hover: #25294e;
	/* 菜单 */
	--b3-menu-background: #0b0c0d;
	/* 提示 */
	--b3-tooltips-color: #0067ac;

	/* 卡片背景 */
	--b3-card-error-color: rgb(243, 153, 147);
	--b3-card-error-background: #cc352d3d;
	--b3-card-warning-color: rgb(255, 213, 153);
	--b3-card-warning-background: #be8b585d;
	--b3-card-info-color: rgb(166, 213, 250);
	--b3-card-info-background: rgba(0, 153, 255, 0.288);
	--b3-card-success-color: rgb(183, 223, 185);
	--b3-card-success-background: #85d0a34d;

	/* 自定义文字 */
	--b3-font-color1: var(--b3-card-error-color);
	--b3-font-color2: var(--b3-card-warning-color);
	--b3-font-color3: #7ac4ff;
	--b3-font-color4: #9bfbb7;
	--b3-font-color5: var(--b3-theme-on-surface);
	--b3-font-color6: #6cf9ee;
	--b3-font-color7: var(--b3-theme-secondary);
	--b3-font-color8: #eb5042;
	--b3-font-color9: #899fff;
	--b3-font-color10: #ca98ff;
	--b3-font-color11: #18fbc6;
	--b3-font-color12: #f5822e;
	--b3-font-color13: var(--b3-theme-background);
	--b3-font-background1: #ff8f89c9;
	--b3-font-background2: #ffd599c0;
	--b3-font-background3: rgba(54, 171, 248, 0.521);
	--b3-font-background4: #8fe7b277;
	--b3-font-background5: #6f8ca38f;
	--b3-font-background6: #09a1b873;
	--b3-font-background7: #f3a82fbd;
	--b3-font-background8: #eb5042d3;
	--b3-font-background9: #5667bb9d;
	--b3-font-background10: #9164bb83;
	--b3-font-background11: #00ffe562;
	--b3-font-background12: #f5812ece;
	--b3-font-background13: var(--b3-theme-on-background);
	/* PDF */
	--b3-pdf-sidebar-width: 200px;
	--b3-pdf-offset: 0;
	--b3-pdf-background1: #f4eba3;
	--b3-pdf-background2: #9af997;
	--b3-pdf-background3: #59c6ff;
	--b3-pdf-background4: #fd7472;
	--b3-pdf-background5: #faad14;
	--b3-pdf-background6: #b9b7b7;
	--b3-pdf-background7: #52d4ca;
	/* 动画效果 */
	--b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

	/* 阴影 */
	--b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	--b3-dialog-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.4);

	/* diff */
	--b3-diff-add: #133a1c;
	--b3-diff-add-surface: #28853e;
	--b3-diff-del: #440c10;
	--b3-diff-del-surface: #b1202d;

	/* 图表颜色 */
	--b3-graph-p-point: #076f7e;
	--b3-graph-heading-point: #9876aa;
	--b3-graph-math-point: #80ffa5;
	--b3-graph-code-point: #00ddff;
	--b3-graph-table-point: #37a2ff;
	--b3-graph-list-point: #ff0087;
	--b3-graph-todo-point: #ffbf00;
	--b3-graph-olist-point: #b3005f;
	--b3-graph-listitem-point: #f65b00;
	--b3-graph-bq-point: #8d48e3;
	--b3-graph-super-point: #dd79ff;
	--b3-graph-doc-point: #e8eaed;
	--b3-graph-tag-point: #dbf32f;
	--b3-graph-asset-point: #05c091;
	--b3-graph-line: #9aa0a6;
	--b3-graph-ref-line: #d23f31;
	--b3-graph-tag-line: #5f6b06;
	--b3-graph-tag-tag-line: #dbf32f;
	--b3-graph-asset-line: #037457;
	--b3-graph-hl-point: #f3a92f;
	--b3-graph-hl-line: #4285f4;

	/* 分隔线搜索颜色 */
	--b3-protyle-search-background: #32593c;
	--b3-protyle-search-border-color: #486a51;
	--b3-protyle-search-current-background: #204282;

	/* 代码片段背景 */
	--b3-protyle-code-background: #1e1e1e;

	/* 所见即所得行内元素颜色 */
	--b3-protyle-inline-strong-color: #e8eaed;
	--b3-protyle-inline-em-color: #e8eaed;
	--b3-protyle-inline-s-color: #c9d1d991;
	--b3-protyle-inline-link-color: #57a2d4;
	--b3-protyle-inline-link-hover-color: #2acdff;
	--b3-protyle-inline-mark-background: #4b817c;
	--b3-protyle-inline-mark-color: #cdd1d6;
	--b3-protyle-inline-tag-background: #65c8eccc;
	--b3-protyle-inline-tag-color: #f8f9fa;
	--b3-protyle-inline-code-color: #b9bcbc;
	--b3-protyle-inline-code-background: #225764;
	--b3-protyle-inline-blockref-color: #31c8ff;
	--b3-protyle-inline-blockref-hover-color: #22bcf2;
	--blockquote-border-color: #6d9a9a;
	/* 表格 */
	--b3-table-border-color: #313d49;
	--b3-table-th-color: #13242c;
	--b3-table-trn-color: #222d38;
	--b3-table-tr2n-color: #1a2734;
	/* 高亮 */
	--b3-menu-highlight-color: #2b6969f1;
	--b3-menu-highlight-focus-color: #2b6969f1;
	/* 文件树背景高亮颜色 */
	--b3-menu-highlight-background: #293241;
	--b3-tab-custom-background: #19232c;

	/* 标题颜色 */
	--custom-h1-color: #f8f9fa;
	--custom-h2-color: #0070c0;
	--custom-h3-color: #0064ac;
	--custom-h4-color: #004b81;
	--custom-h5-color: #4c728d;
	--custom-h6-color: #768794;
}

/* 一些杂项 */

/* 去掉黑线 */
.status {
	border-top: 0;
}
