.protyle-wysiwyg [data-node-id]:not(.code-block) > [contenteditable][spellcheck]:empty::after {
	content: 'knowledge sparks here~' !important;
	color: #dafbff7c;
}

.protyle-wysiwyg [data-node-id] [spellcheck='false']:empty::after {
	color: inherit;
	opacity: 0.5;
}

/* 空列表出现提示 */
.protyle-wysiwyg [data-subtype='t'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after {
	content: '待办事项';
	color: #dafbff7c;
}

.protyle-wysiwyg [data-subtype='u'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after,
.protyle-wysiwyg [data-subtype='o'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after {
	content: '列表';
	color: #dafbff7c;
}
