/* 标题样式 */
/* 标题自动编号 */
/* 首先全局进行一次reset，这样即使不添加h1标题也可以使用较低级别的标题 */
.protyle-wysiwyg,
.b3-typography {
	counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
}
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
	counter-reset: h2;
}
.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
	counter-reset: h3;
}
.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
	counter-reset: h4;
}
.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
	counter-reset: h5;
}
.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
	counter-reset: h6;
}
.protyle-wysiwyg [data-node-id].h2 div:before,
.b3-typography h2:before {
	counter-increment: h2;
	content: counter(h2);
	margin-right: 2rem;
}
.protyle-wysiwyg [data-node-id].h3 div:before,
.b3-typography h3:before {
	counter-increment: h3;
	content: counter(h2) '.' counter(h3);
	margin-right: 2rem;
}
.protyle-wysiwyg [data-node-id].h4 div:before,
.b3-typography h4:before {
	counter-increment: h4;
	content: counter(h2) '.' counter(h3) '.' counter(h4);
	margin-right: 2rem;
}
.protyle-wysiwyg [data-node-id].h5 div:before,
.b3-typography h5:before {
	counter-increment: h5;
	content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5);
	margin-right: 2rem;
}
.protyle-wysiwyg [data-node-id].h6 div:before,
.b3-typography h6:before {
	counter-increment: h6;
	content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6);
	margin-right: 2rem;
}
/* 标题自动编号结束 */

/* 标题颜色标识 */

.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
	/* font-size: 1.6em !important; */
	color: var(--custom-h1-color);
	border-left: 3px solid var(--custom-h1-color);
	padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
	/* font-size: 1.5em !important; */
	color: var(--custom-h2-color);
	border-left: 3px solid var(--custom-h2-color);
	padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
	/* font-size: 1.4em !important; */
	color: var(--custom-h3-color);
	border-left: 3px solid var(--custom-h3-color);
	padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
	/* font-size: 1.3em !important; */
	color: var(--custom-h4-color);
	border-left: 3px solid var(--custom-h4-color);
	padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
	/* font-size: 1.2em !important; */
	color: var(--custom-h5-color);
	border-left: 3px solid var(--custom-h5-color);
	padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
	/* font-size: 1.1em !important; */
	color: var(--custom-h6-color);
	border-left: 3px solid var(--custom-h6-color);
	padding-left: 9px;
}
/* 标题颜色标识结束 */

/* 标题样式结束 */
