/* 标签样式 */
.protyle-wysiwyg [data-node-id] span[data-type='tag'] {
	color: #ffffff;
	background-color: #009fb7c4;
	/* font-weight: bold; */
	border-radius: 15px;
	/* font-size: 85%; */
	padding: 0.2em 0.5em 0.1em 0.5em;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	z-index: 20;
}
.protyle-wysiwyg [data-node-id] span[data-type='tag']:hover {
	background-color: transparent !important;
}
.protyle-wysiwyg [data-node-id] span[data-type='tag']::before {
	display: inline-block;
	content: '\1F516';
}
/* 标签样式结束 */
