/* 菜单项样式 */
.b3-menu {
	background-color: #1c1c1f;
	border-radius: 15px;
	box-shadow: 2px 2px 10px 2px #000000;
}
.b3-menu__item {
	padding: 0.3em 0.3em 0.3em 0.3em;
	background-color: #1c1c1f;
}
.b3-menu__item:hover {
	background-color: var(--b3-theme-primary-lighter);
	border-radius: 5px;
}
/* 子菜单样式 */
.b3-menu__item--show .b3-menu__submenu {
	background-color: #1c1c1f;
	border-radius: 8px;
	box-shadow: 2px 2px 10px 2px #000000;
}
/* 子菜单样式结束 */
/* 菜单项样式结束 */
