/* 菜单项样式 */
.b3-menu,
.b3-menu__submenu {
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.815);
}
.b3-menu__item:hover,
.b3-menu__item--current {
	background-color: #005a9673 !important;
}
.b3-menu__item--show {
	background-color: #005a9673 !important;
}

/* 设置界面菜单样式 */
.b3-label {
	border-bottom: 0em;
}
