/*页签*/

.layout-tab-bar .item {
	/*border-radius: 30px 30px 0px 0px;*/
}

/* 非聚焦页签样式 */
.layout-tab-bar .item:not(.item--focus) {
	/* 圆角
	border-radius: 15px, 15px, 0px, 0px;*/
	/* 底边
	border-bottom: 1px solid #0a546e;*/
}

.layout-tab-bar .item--focus {
	/* 底边 */
	border-bottom: 2px solid #0099ff;
}
/*页签结束*/
