/* 页签样式 */
.layout-tab-bar .item--focus {
	border-radius: 0em;
	border-bottom: 2px solid #0088cc;
}

.layout-tab-bar {
	font-style: normal;
}

.layout__wnd--active .layout-tab-bar .item--focus,
.layout-tab-bar .item:not(:last-child) {
	box-shadow: inset 0 0 0 0 !important;
}
