/* 表格样式 */
.b3-typography table td,
.b3-typography table th,
.protyle-wysiwyg table td,
.protyle-wysiwyg table th {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	border-spacing: 0;
	border-radius: 10px;
	background-color: #292e00;
	box-shadow: 2px 2px 2px 2px #000000;
	transform: translateY(-1.5px);
}
